.productoCar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(154, 195, 93);
    margin: 10px;
}
.productoCar .datos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.productoCar .datos .nombre{
    width: 300px;
}

.productoCar .datos .img{
    width: 200px;
}

.productoCar .datos .precio{
    width: 170px;
    margin-left: 80px;
}

.productoCar .datos .talla{
    width: 100px;
    margin-left: 40px;
}

.productoCar .datos .und{
    width: 100px;
    margin-left: 40px;
}

.productoCar .datos h3{
    margin-left: 0;
}

.datos *{
    font-weight: bold;
}
.productoCar img{
    width: 100px;
    height: 100px;
}

.btn {
    margin-right: 180px;
}

.btn a{
    margin-left: 0px;
}

.btn img{
    margin-left: 0px;
    width: 40px;
    height: 35px;
}

.sinSaldo{
    margin: 10px;
    font-size: 30px;
    background-color: red;
}

.hacerPed {
    align-items: center;
}

.hacerPed input{
    display: inline;
    margin-top: 10px;
}

.hacerPed input.boton{
    display: inline;
    margin-top: 10px;
    width: 180px;
    height: 60px;
    font-size: 20px;
}

.hacerPed input[type="submit"]:hover{
    cursor: pointer;
}