.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

.formPerfil{
    width: 600px;
    margin-left: 100px;
    align-items: center;
}

.formPerfil div input{
    display: inline;
    margin: 10px;
}

.perfil p{
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
}
.formContra{
    width: 400px;
    margin-right: 100px;
}

#eliminarUsuario button{
    width: 200px;
    height: 60px;
    font-size: 20px;
}

#eliminarUsuario ul li{
    list-style: none;
}

#eliminarUsuario h2{
    color: red;
}

#eliminarUsuario p{
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
}

.formContra div input{
    display: inline;
    margin: 10px;
}