.producto input{
    display: inline;
    margin-top: 10px;
    /* align-items: center; */
}

.producto img{
    width: 300px;
    height: 300px;
}

.producto p{
    font-size: 25px;
}

.producto select{
    margin-top: 10px;
}

.producto input[type = "number"]{
    width: 100px;
    height: 30px;
    font-size: 20px;
}

.producto input[type = "submit"]{
    width: 200px;
    height: 60px;
    margin: 20px;
}

.sub {
    display: inline-flex;
}