body {
    text-align: center;
}

h1{
    text-align: center;
}

nav {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(38, 230, 118);

}

nav li {
    float: right;
}

nav li a {
    color: white;
    float: left;
    display: block;
    padding: 6px 16px;
    text-decoration: none;
    margin-left: 10px;
}


#home {
    float: left;
}

.logo a img {
    display: block;
    margin: left;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
}

img {
    height: 300px;
    width: 300px;
    padding: 20px;
}




